@font-face {
    font-family: 'Yatra One';
    src: url('../asset/font/YatraOne-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'League Spartan';
    src: url('../asset/font/LeagueSpartan-Medium.ttf') format('truetype');
}

h1, h2, h3, h4, h5, h6, ul, li {
    font-family: 'Yatra One', sans-serif;
}

body, p, a, input[type="submit"]{
    font-family: 'League Spartan', sans-serif;
}