@import './font';
@import './background';


main{
    h1{
        color: white;
        text-align: center;
    }
    p{
        color: white;
        text-align: center;
    }
    span{
        font-weight: bold;
    }
}