@import './font';
@import './background';

main{
    h1{
        text-align: center;
        color: white;
        margin-top: 2.5%;
    }

    .editable-title {
        cursor: text;
    }

    .edit-title-input {
        width: 100%;
        border: none;
        outline: none;
        font-size: 1em;
        text-align: center;
        font-family: 'Yatra One', sans-serif;
        font-weight: bold;
        color: white;
        background-color: transparent;
    }
}

.task-creation {
    text-align: center;
}

.create-task-button {
    margin-top: 2.5%;
    margin-bottom: 2%;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #3498db;
    }
}

.task-list {
    width: 100%;

    .task {
        width: 30%; 
        height: 5vh;
        border-radius: 8px; 
        margin-bottom: 1%;
        padding-left: 1%;
        overflow: hidden; 
        background-color: #3498db;
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.2em;

        .editable-task {
            cursor: text;
        }
        
        .edit-task-input {
            width: 100%;
            border: none;
            outline: none;
            font-size: 1em;
            font-family: 'League Spartan', sans-serif;
            color: white;
            background-color: transparent;
        }
        svg {
            width: 6%;
            height: 6vh;
            margin-right: 2%;
        }
    
        a {
            text-decoration: none;
            color: inherit; 
        }
    }

    .editable-task {
        flex-grow: 1;
        color: white;
        margin: 0; 
    }
    
}
