@import './font';
@import './background';

main{
    h1{
        text-align: center;
        color: white;
    }
    
    form{
        width: 100%;
        height: 15vh;

            .container_input{
                height: auto;

                    input{
                        width: 100%;
                        padding: 10px;
                        margin: 5px 0;
                        box-sizing: border-box;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                    }   
                    input:focus {
                        outline: none;
                        border-color: #3498db;
                        box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); 
                    }
        }
        .container_button{
            display: flex;
            justify-content: space-between;
            margin-top: 2%;
            
            input{
                width: 45%;
                padding: 10px;
                background-color: #3498db; 
                color: #fff; 
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease; 
            }

            input:hover {
                background-color: #2980b9;
            }

            button{
                width: 45%;
                padding: 10px;
                background-color: #3498db; 
                color: #fff; 
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease; 
            }
            a{
                color: white;
                text-decoration: none;
            }
            button:hover {
                background-color: #2980b9;
            }
        }   
    }
    
}